@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: "Courier New", Courier, monospace;
    overflow: hidden;
}

@keyframes Shining {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes ClickMe {
    0% {
        transform: translate(130%, -50%);
    }
    50% {
        transform: translate(110%, -50%);
    }
    100% {
        transform: translate(130%, -50%);
    }
}

@media screen and (max-width: 500px) {
    .tree {
        transform: scale(0.5);
        transform-origin: center;
    }
}

@media screen and (max-height: 600px) {
    .tree {
        transform: scale(0.4);
        transform-origin: center;
    }
}
